* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Serif", Arial, sans-serif;
}

main {
  display: flex;
  gap: 0px;
  justify-content: center;
  background-color: rgb(222, 230, 230);
}

.cabeçalho {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: rgb(27, 26, 26);
}

.nome {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.info {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px;
}

.logo {
  width: 300px;
  border-radius: 20px;
}

.dados {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 300px;
}

.data {
  display: flex;
  align-items: center;
  gap: 10px;
}

.d {
  display: flex;
  width: 17.3px;
  min-width: 17.3px;
}

.localizacao {
  display: flex;
  align-items: center;
  gap: 10px;
}
.l {
  display: flex;
  width: 17.3px;
  min-width: 17.3px;
}

.t1 {
  font-weight: 700;
  font-size: 20px;
}

.t1-1 {
  font-size: 14px;
}

.t2 {
  color: rgb(70, 70, 70);
  font-weight: 500;
  font-size: 16px;
}

.t2-2 {
  color: rgb(70, 70, 70);
  font-weight: 500;
  font-size: 14px;
}

.t3 {
  color: white;
  background-color: rgb(1, 223, 67);
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  padding: 6px;
  text-decoration: none;
}

.comprar {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
}

.titulo {
  display: flex;
  color: white;
  font-weight: 700;
  background-color: rgb(76, 87, 108);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 12px;
  justify-content: space-between;
}

.carrinho {
  width: 12px;
}

.geral {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lote {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-weight: 700;
  gap: 2px;
}

.lote1 {
  display: flex;
  padding: 8px;
}

.descricao {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.mapa {
  border-radius: 10px;
}
